
.accordion-item {
	border-bottom: 1px solid #E3E3E3;
	display: flex;

	&:last-child {
		border-bottom: 0;
	}
	
	&__toggle {
		@include no-link-underline();
		@include reset-button();
		display: block;
		flex-shrink: 0;
		position: relative;
		transition: all 0.3s ease;
		width: (65/18 * 1rem);

		&,
		&:hover,
		&:focus {

			&::before,
			&::after {
				background: var(--primary);
				content: "";
				left: 50%;
				position: absolute;
				top: 50%;
				transition: all 0.3s ease;
			}

			&::before {
				height: 4px;
				margin-left: (20px / -2);
				margin-top: (4px / -2);
				width: 20px;
			}

			&::after {
				height: 20px;
				margin-left: (4px / -2);
				margin-top: (20px / -2);
				width: 4px;
			}
		}

		&:hover {
			background: var(--secondary);

			&::before,
			&::after {
				background: $white;
			}
		}

		&:focus {
			box-shadow: none;
		}
	}

	&:first-child .accordion-item__toggle {
		border-top-left-radius: $border-radius;
	}

	&:last-child .accordion-item__toggle {
		border-bottom-left-radius: $border-radius;
	}

	&__content {
		padding: (26/18 * 1rem) (30/18 * 1rem) 0;
	}

	&__question-wrapper {
		margin-bottom: (24/18 * 1rem);
		transition: all 0.3s ease-out;
	}

	&__question {
		font-family: var(--font-family-sans-serif);
		font-size: (20/18 * 1rem);
		line-height: (25/20);
		margin-bottom: 0;
		text-transform: none;
	}

	&__answer-wrapper {
		@include clear-content-margins();
		font-size: (16/18 * 1rem);
	    height: auto;
		line-height: (25/16);
	    max-height: 0;
	    opacity: 0;
		overflow: hidden;
		padding-bottom: 0;
	    transition: all 0.3s ease-out;
	}

	&--open {

		.accordion-item__toggle {

			&,
			&:hover,
			&:focus {
				background: var(--primary);

				&::before,
				&::after {
					background: $white;
				}

				&::after {
					display: none;
				}
			}

			&:hover {
				background: var(--secondary);

				&::before,
				&::after {
					background: $white;
				}
			}
		}

		.accordion-item__question-wrapper {
			margin-bottom: (5/18 * 1rem);
		}

		.accordion-item__answer-wrapper {
		    max-height: 100px;
		    opacity: 1;
			padding-bottom: (24/18 * 1rem);
		}
	}
}
