.benefits-2 {
    @include boxes();
    margin-bottom: (156/18 * 1rem);
    margin-top: (186/18 * 1rem);

    &__container {
        @extend .container;
    }

    &__header {
        margin-bottom: (27/18 * 1rem);
        text-align: center;
    }

    &__heading {
        font-size: (42/18 * 1rem);
        font-weight: 700;
        line-height: (50/42);
        margin-bottom: (2/18 * 1rem);
    }

    &__subheading {
        font-family: var(--font-family-sans-serif);
        font-size: (32/18 * 1rem);
        font-weight: 400;
        line-height: (38/32);
        margin-bottom: 0;
    }

    &__text-wrapper {
        @extend .row;
        @extend .justify-content-center;
        @include col-md-spacing(25);
        margin-bottom: (54/18 * 1rem);
    }

    &__text {
        @extend .col-md-6;
        @include clear-content-margins();
    }
}
