.benefits {
    margin-bottom: (158/18 * 1rem);
    margin-top: (168/18 * 1rem);

    &__container {
        @extend .container;
    }

    &__header {
        margin-bottom: (28/18 * 1rem);
        text-align: center;
    }

    &__heading {
        color: var(--primary);
        font-size: (42/18 * 1rem);
        font-weight: 700;
        line-height: (50/42);
        margin-bottom: (2/18 * 1rem);
        text-transform: uppercase;
    }

    &__subheading {
        font-family: var(--font-family-sans-serif);
        font-size: (32/18 * 1rem);
        font-weight: 400;
        line-height: (38/32);
        margin-bottom: 0;
    }

    &__text-wrapper {
        @extend .row;
        @extend .justify-content-center;
        margin-bottom: (118/18 * 1rem);
        text-align: center;
    }

    &__text {
        @extend .col-md-8;
        @include clear-content-margins();
    }

    &__boxes {
        @extend .row;
        @include col-md-spacing(18);
        margin-bottom: (-80/18 * 1rem);
    }

    &__box-wrapper {
        @extend .col-md-6;
        @extend .col-lg-4;
    }

    &__box {
        border-radius: $border-radius;
        box-shadow: 0 0 0 4px var(--secondary);
        margin-bottom: (80/18 * 1rem);
        padding: (68/18 * 1rem) (40/18 * 1rem) (34/18 * 1rem);
        position: relative;
        text-align: center;
    }

    &__box-image-wrapper {
        align-items: center;
        background: var(--primary);
        border-radius: 999em;
        display: flex;
        height: 100px;
        justify-content: center;
        left: 50%;
        margin-left: (100px / -2);
        position: absolute;
        top: (-50px - 2px);
        width: 100px;
    }

    &__box-image {
    }

    &__box-body {
        @include clear-content-margins();
    }

    &__box-heading {
        color: var(--primary);
        font-size: (22/18 * 1rem);
        font-weight: 700;
        line-height: (26/22);
        margin-bottom: (12/18 * 1rem);
        text-transform: uppercase;
    }

    &__box-text {
        color: var(--primary);
        font-size: (16/18 * 1rem);
        line-height: (26/16);
    }
}
