
.contact-form {
	padding-bottom: (4/18 * 1rem);
	padding-top: (4/18 * 1rem);
	
	&__form-group {
		@extend .form-group;
	}

	&__form-control {
		@extend .form-control;
	}

	&__form-text {
		@extend .form-group;
		font-size: (14/18 * 1rem);
		line-height: (17/14);
		margin-top: (30/18 * 1rem);
		opacity: 0.5;
		text-align: right;
	}

	&__form-submit {
		margin-top: (28/18 * 1rem);
		text-align: right;
	}

	&__button {
		@extend .btn;
		@extend .btn-secondary;
	}

	div.wpcf7 .ajax-loader {
		float: left;
	    margin-top: (17/18 * 1rem);
	}
}
