div.contact {
    margin-bottom: (70/18 * 1rem);
    margin-top: (70/18 * 1rem);
}

.contact {
    &__container {
        @extend .container;
    }

    &__row {
        @extend .row;
        @extend .justify-content-center;
    }

    &__col {
        @extend .col-md-5;
    }
}
