.content {
    &__container {
        @extend .container;
        padding-bottom: (51/18 * 1rem);
        padding-top: (51/18 * 1rem);
    }

    &__row {
        @extend .row;
        @extend .justify-content-center;
    }

    &__col {
        @extend .col-md-8;
        @include clear-content-margins();
    }
}
