
.contact-person {
	@extend .media;
	margin-bottom: (38/18 * 1rem);
	
	&__photo-wrapper {
		margin-right: (22/18 * 1rem);
	}

	&__photo {

	}

	&__body {
		@extend .media-body;
		margin-top: (-5/18 * 1rem);
	}
}
