.cta-partner {
    background: var(--primary);
    color: $white;

    &__container {
        @extend .container;
    }

    &__content {
        @extend .row;
    }

    &__image-wrapper {
        @extend .col-md-5;
        @extend .order-2;
        @extend .order-md-1;

        @include media-breakpoint-down(sm) {
            align-items: flex-end;
            display: flex;
            justify-content: center;
        }
    }

    &__image {
        bottom: 0;
        position: absolute;
        right: (-25/18 * 1rem);

        @include media-breakpoint-down(sm) {
            @include img-fluid();
            position: static;
        }
    }

    &__content-body {
        @extend .col-md-6;
        @extend .order-1;
        @extend .order-md-2;
        padding-bottom: (52/18 * 1rem);
        padding-top: (46/18 * 1rem);
    }

    &__heading {
        color: var(--secondary);
        font-size: (32/18 * 1rem);
        line-height: (42/32);
        margin-bottom: (11/18 * 1rem);
        text-transform: uppercase;
    }

    &__text {
        font-size: (16/18 * 1rem);
        line-height: (26/16);
        margin-bottom: (36/18 * 1rem);
    }

    &__contact-points {
        font-size: (24/18 * 1rem);
        font-weight: 700;
        line-height: (26/24);

        a {
            color: var(--secondary) !important;
        }
    }

    &__contact-point {
        @extend .media;
        @extend .align-items-center;
        margin-bottom: (20/18 * 1rem);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__contact-point-icon-wrapper {
        width: (70/18 * 1rem);
    }

    &__contact-point-icon {
    }

    &__contact-point-value-wrapper {
        @extend .media-body;
    }

    &__contact-point-value {
    }
}
