
.cta-newsletter-text {
	
	&__heading {
		color: inherit;
		font-family: var(--font-family-sans-serif);
		font-size: (36/18 * 1rem);
		font-weight: 700;
		line-height: (43/36);
		margin-bottom: (38/18 * 1rem);
		text-transform: none;
	}

	&__content {
		@include clear-content-margins();

		ul {
			@include cta-list-check();
		}
	}
}
