.cta-application {
    background: var(--primary);
    color: $white;

    &__container {
        @extend .container;
        padding-bottom: (134/18 * 1rem);
        padding-top: (108/18 * 1rem);
    }

    &__row {
        @extend .row;
        @include col-md-spacing(43);
    }

    &__col {
        @extend .col-md;
    }

    &__cta-application-text {
    }

    &__cta-application-button {
    }
}
