.cta-newsletter {
    background: var(--primary);
    color: $white;

    &__container {
        @extend .container;
        padding-bottom: (90/18 * 1rem);
        padding-top: (113/18 * 1rem);
    }

    &__row {
        @extend .row;
        @include col-md-spacing(38);
    }

    &__col {
        &--text {
            @extend .col-md-7;
        }

        &--form {
            @extend .col-md-4;
        }
    }

    &__cta-newsletter-text {
    }

    &__cta-newsletter-form {
    }
}
