
.cta-application-button {
	padding-bottom: (7/18 * 1rem);
	
	&__content {
		@include clear-content-margins();
		font-size: (18/18 * 1rem);
		line-height: (26/18 * 1rem);
		margin-bottom: (23/18 * 1rem);
	}

	&__button-wrapper {

	}

	&__button {
		@extend .btn;
		@extend .btn-secondary;
		font-size: (24/18 * 1rem);
		line-height: (29/24);
		padding-bottom: $btn-padding-y;
		padding-top: ($btn-padding-y - (1/18 * 1rem));
	}
}
