
.cta-application-text {
	
	&__heading {
		color: inherit;
		font-size: (36/18 * 1rem);
		font-weight: 700;
		line-height: (43/36);
		margin-bottom: (43/18 * 1rem);
	}

	&__content {
		@include clear-content-margins();

		ul {
			@include cta-list-check();
		}
	}
}
