
.cta-newsletter-form {
	padding-bottom: (7/18 * 1rem);
	padding-top: (7/18 * 1rem);
	
	&__form-group {
		@extend .form-group;
		margin-bottom: (15/18 * 1rem);

		&--checkbox {
			margin-bottom: (15/18 * 1rem);
			margin-top: ((15/18 * 1rem) + (2/18 * 1rem));

			.custom-control-label {

			    &::before {
			    	border: 0;
			        top: (3/18 * 1rem);
			    }

			    &::after {
			        top: ((3/18 * 1rem) + (3/18 * 1rem));
			    }
			}
		}
	}

	&__form-control {
		@extend .form-control;
		border: 0;
		font-size: (16/18 * 1rem);
		height: (45/18 * 1rem);
		padding-bottom: (13/18 * 1rem);
		padding-left: (21/18 * 1rem);
		padding-right: (21/18 * 1rem);
		padding-top: (13/18 * 1rem);
	}

	&__form-submit {

	}

	&__button {
		@extend .btn;
		@extend .btn-secondary;
		padding-left: (18/18 * 1rem);
		padding-right: (18/18 * 1rem);
	}
}
