.eyecatcher {
    @include adjust-first-block();
    @include carousel-controls();

    &--orientation-landscape {
        display: block;

        @media (orientation: portrait) {
            display: none;
        }
    }

    &--orientation-portrait {
        display: none;

        @media (orientation: portrait) {
            display: block;
        }
    }

    .carousel-item img {
        display: block;
        height: 100vh;
        object-fit: cover;
        width: 100%;
    }

    .carousel-caption {
        background: transparentize($blue, 0.1);
        bottom: 0;
        left: 0;
        padding-bottom: (40/18 * 1rem);
        padding-top: (33/18 * 1rem);
        right: 0;
        text-align: left;

        h1,
        .h1 {
            color: $white;
            font-size: (42/18 * 1rem);
            font-weight: 700;
            line-height: (50/42);
            margin-bottom: 0;
            text-align: left;
        }

        h2,
        .h2 {
            color: var(--secondary);
            font-size: (42/18 * 1rem);
            font-weight: 700;
            line-height: (50/42);
            margin-bottom: 0;
            text-align: left;
        }

        p {
            font-size: (18/18 * 1rem);
            font-weight: 400;
            line-height: (29/18);

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        h1,
        .h1,
        h2,
        .h2 {
            + h1,
            + .h1,
            + h2,
            + .h2 {
                margin-top: (3/18 * 1rem);
            }

            + p {
                margin-top: (24/18 * 1rem);
            }
        }
    }

    .carousel-controls-wrapper {
        bottom: 0;
        height: (258/18 * 1rem);
        left: 0;
        position: absolute;
        right: 0;
        transition: height 0.3s ease;

        .container,
        .row {
            height: 100%;
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        left: 0;
        right: 0;
        width: 100%;
        z-index: 11;
    }

    .carousel-control-prev {
        justify-content: flex-start;
    }

    .carousel-control-next {
        justify-content: flex-end;
    }
}
