div.faq {
    @include adjust-first-block();
    background-color: var(--secondary);
    background-image: url("../images/faq/background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.faq {
    &__container {
        @extend .container;
        padding-bottom: (125/18 * 1rem);
        padding-top: (229/18 * 1rem);
    }

    &__row {
        @extend .row;
        @extend .justify-content-center;
    }

    &__col {
        @extend .col-md-10;
    }

    &__header {
        margin-bottom: (34/18 * 1rem);
    }

    &__heading {
        margin-bottom: 0;
        text-align: left;
    }

    &__content {
    }
}
