.footer {
    color: var(--primary);
    font-size: (14/18 * 1rem);
    font-weight: 700;

    &__container {
        @extend .container;
        padding-bottom: (35/18 * 1rem);
        padding-top: ((36 + 9)/18 * 1rem);
    }

    &__links-copyright-wrapper {
        @extend .row;
    }

    &__links-wrapper {
        @extend .col-md-6;
        @extend .order-md-2;
        display: flex;
        justify-content: flex-end;

        @include media-breakpoint-down(sm) {
            align-items: center;
            flex-direction: column;
        }
    }

    &__links {
        margin-bottom: (3/18 * 1rem);
        margin-top: (3/18 * 1rem);

        @include media-breakpoint-down(sm) {
            margin-bottom: 0;
            margin-top: (20/18 * 1rem);
            order: 2;
        }

        > ul {
            @include reset-list();

            > li {
                display: inline-block;
                margin-right: (24/18 * 1rem);

                &:last-child {
                    margin-right: 0;
                }

                > a {
                    @include no-link-underline();
                    opacity: 0.5;

                    &:hover,
                    &:focus {
                        color: var(--primary);
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__social-links {
        margin-left: (31/18 * 1rem);

        @include media-breakpoint-down(sm) {
            margin-left: 0;
            order: 1;
        }

        > ul {
            @include reset-list();
            display: flex;

            > li {
                display: block;
                margin-right: (19/18 * 1rem);

                &:last-child {
                    margin-right: 0;
                }

                > a {
                    @include no-link-underline();
                    @include black-tie();
                    display: block;
                    font-family: "Font Awesome Brands";
                    font-size: 25px;
                    height: 25px;
                    opacity: 0.5;
                    text-indent: -999em;
                    width: 25px;

                    &:hover,
                    &:focus {
                        color: var(--primary);
                        opacity: 1;
                    }

                    &::after {
                        left: 0 !important;
                        position: absolute;
                        text-indent: 0;
                        top: 0;
                    }
                }

                &.facebook > a::after {
                    content: "\f000";
                }

                &.instagram > a::after {
                    content: "\f005";
                }

                &.linkedin > a::after {
                    content: "\f003";
                }

                &.xing > a {
                    width: 21px;

                    &::after {
                        content: "\f090";
                    }
                }
            }
        }
    }

    &__copyright-wrapper {
        @extend .col-md-6;
        @extend .order-md-1;
        text-align: left;
    }

    &__copyright {
        display: flex;
        margin-bottom: (3/18 * 1rem);
        margin-top: (3/18 * 1rem);

        @include media-breakpoint-down(sm) {
            align-items: center;
            flex-direction: column;
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    &__text-name {
        display: inline-block;
        margin-right: (15/18 * 1rem);
        vertical-align: top;

        @include media-breakpoint-down(sm) {
            margin-right: 0;
            margin-top: (20/18 * 1rem);
            order: 1;
        }
    }

    &__text-by {
        @include no-link-underline();
        @include img-retina(
            "../images/footer/by-upstart.png",
            "../images/footer/by-upstart@2x.png",
            145px,
            25px
        );
        display: inline-block;
        height: 25px;
        margin-top: (-4/18 * 1rem);
        text-indent: -999em;
        vertical-align: top;
        width: 145px;

        @include media-breakpoint-down(sm) {
            margin-top: (20/18 * 1rem);
            order: 2;
        }
    }
}
