body {
    padding-top: calc(#{(16/18 * 1rem) * 2} + 59px);
}

.header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s ease;
    width: 100%;
    z-index: $zindex-fixed;

    body.admin-bar & {
        top: 32px;

        @media screen and (max-width: 782px) {
            top: 46px;
        }
    }

    &__container {
        @extend .container;
        display: flex;
        justify-content: space-between;
        padding-bottom: (16/18 * 1rem);
        padding-top: (16/18 * 1rem);
        position: relative;
    }

    &__logo-wrapper {
    }

    &__logo {
    }

    &--dependent-color-white .header__logo {
        @include img-retina(
            "../images/industry-founders-logo-white.png",
            "../images/industry-founders-logo-white@2x.png",
            259px,
            59px
        );
    }

    &__top-menu {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &--dependent-color-white .header__top-menu {
        > ul {
            > li:not(.top-menu__list-item--button) {
                > a {
                    color: $white;

                    &:hover,
                    &:focus {
                        color: $white;
                    }

                    &::after {
                        background: $white;
                    }
                }
            }
        }
    }

    &__main-menu {
        margin-bottom: (6/18 * 1rem);
        margin-top: (10/18 * 1rem);

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &--dependent-color-white .header__main-menu {
        > ul {
            > li:not(.main-menu__list-item--button) {
                > a {
                    color: $white;

                    &:hover,
                    &:focus {
                        color: $white;
                    }

                    &::after {
                        background: $white;
                    }
                }
            }
        }
    }

    &__language-menu {
        position: absolute;
        right: (-93/18 * 1rem);
        top: (33/18 * 1rem);

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &--dependent-color-white .header__language-menu {
        > ul {
            > li {
                > a {
                    color: $white;

                    &:hover,
                    &:focus {
                        color: $white;
                    }
                }
            }
        }
    }

    &--scroll {
        background: $white;

        .header__logo {
            @include img-retina(
                "../images/industry-founders-logo.png",
                "../images/industry-founders-logo@2x.png",
                259px,
                59px
            );
        }

        .header__top-menu {
            display: none;
        }

        .header__main-menu {
            > ul {
                > li:not(.main-menu__list-item--button) {
                    > a {
                        color: var(--primary);

                        &:hover,
                        &:focus {
                            color: var(--primary);
                        }

                        &::after {
                            background: var(--primary);
                        }
                    }
                }
            }
        }

        .header__language-menu {
            > ul {
                > li {
                    > a {
                        color: var(--primary);

                        &:hover,
                        &:focus {
                            color: var(--primary);
                        }
                    }
                }
            }
        }
    }

    & {
        @include media-breakpoint-down(md) {
            background: $white;
            position: absolute;

            .header__container {
                justify-content: center;
                padding-bottom: (30/18 * 1rem);
                padding-top: (30/18 * 1rem);
            }

            .header__logo {
                @include img-retina(
                    "../images/industry-founders-logo.png",
                    "../images/industry-founders-logo@2x.png",
                    202px,
                    46px
                );
                height: 46px;
                width: 202px;
            }
        }
    }
}
