.heading {
    margin-bottom: (51/18 * 1rem);
    margin-top: (51/18 * 1rem);
    text-align: center;

    &__container {
        @extend .container;
    }

    &__row {
        @extend .row;
        @extend .justify-content-center;
    }

    &__col {
        @extend .col-md-8;
        @include clear-content-margins();
    }

    &__heading {
        margin-bottom: (2/18 * 1rem);
    }

    &__subheading {
        font-family: var(--font-family-sans-serif);
        font-size: (32/18 * 1rem);
        font-weight: 400;
        line-height: (38/32);
        margin-bottom: 0;
    }

    &__text {
        margin-top: (26/18 * 1rem);
    }
}
