
.language-menu {
    
    > ul {
        @include reset-list();

        > li {
            display: inline-block;
            margin-right: (5/18 * 1rem);
            vertical-align: top;

            &:last-child {
                margin-right: 0;
            }

            > a {
                @include no-link-underline();
                color: var(--primary);
                font-family: var(--font-family-sans-serif-alt);
                font-size: (18/18 * 1rem);
                font-weight: 400;
                opacity: 0.3;
                text-transform: uppercase;

                &:hover,
                &:focus {
                    color: var(--primary);
                    opacity: 1;
                }
            }

            &.language-menu__list-item--active,
            &.current-menu-item,
            &.current-page-ancestor {

                > a {
                    opacity: 1;
                }
            }
        }
    }
}
