
.logo {
    @include no-link-underline();
    @include img-retina("../images/industry-founders-logo-monochrome.png", "../images/industry-founders-logo-monochrome@2x.png", 259px, 59px);
    background-position: center center;
    // background: url("../images/industry-founders-logo-monochrome.svg") no-repeat left top;
    background-repeat: no-repeat;
    display: block;
    height: 59px;
    text-indent: -999em;
    transition: all 0.3s ease;
    width: 259px;

    &::after {
        @include img-retina("../images/industry-founders-logo.png", "../images/industry-founders-logo@2x.png", 259px, 59px);
        content: "";
        height: 0 !important;
        overflow: hidden;
        position: absolute;
        width: 0 !important;
    }
}
