.main-menu {
    > ul {
        @include reset-list();
        text-align: right;

        > li {
            display: inline-block;
            margin-bottom: (7/18 * 1rem);
            margin-left: (12/18 * 1rem);
            margin-right: (12/18 * 1rem);
            margin-top: (7/18 * 1rem);
            vertical-align: top;

            &:last-child {
                margin-right: 0;
            }

            > a {
                color: var(--primary);
                font-family: var(--font-family-sans-serif-alt);
                font-size: (18/18 * 1rem);
                font-weight: 400;
                text-transform: uppercase;
                transition: color 0.3s ease;

                &:hover,
                &:focus {
                    color: var(--primary);
                }

                &::after {
                    background: var(--primary);
                }
            }

            &.main-menu__list-item--button {
                margin-bottom: 0;
                margin-left: (16/18 * 1rem);
                margin-top: 0;

                > a {
                    @extend .btn;
                    @extend .btn-primary;
                    font-size: (16/18 * 1rem);
                    padding-bottom: ($btn-padding-y - (1/18 * 1rem));
                    padding-left: (11/18 * 1rem);
                    padding-right: (11/18 * 1rem);
                    padding-top: ($btn-padding-y - (1/18 * 1rem));

                    &:hover,
                    &:focus {
                        color: color-yiq($primary);
                    }
                }
            }
        }
    }
}
