.mentors {
    background: var(--primary);
    color: $white;

    &__container {
        @extend .container;
        padding-bottom: (204/18 * 1rem);
        padding-top: (119/18 * 1rem);
    }

    &__header {
        margin-bottom: (32/18 * 1rem);
        text-align: center;
    }

    &__heading {
        color: var(--secondary);
        font-size: (42/18 * 1rem);
        font-weight: 700;
        line-height: (50/42);
        margin-bottom: (1/18 * 1rem);
    }

    &__subheading {
        color: inherit;
        font-family: var(--font-family-sans-serif);
        font-size: (32/18 * 1rem);
        font-weight: 400;
        line-height: (38/32);
        margin-bottom: 0;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: (21px * -1);
    }

    &__link {
        border-radius: $border-radius;
        display: block;
        height: 160px;
        margin-bottom: 21px;
        margin-left: ($grid-gutter-width / 2);
        margin-right: ($grid-gutter-width / 2);
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 160px;

        @include media-breakpoint-down(md) {
            height: 140px;
            width: 140px;
        }
    }

    &__photo-wrapper {
        display: block;
        height: 100%;
        width: 100%;
    }

    &__photo {
        display: block;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    &__info-wrapper {
        background: transparentize($green, 0.1);
        bottom: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: all 0.3s ease;
        visibility: hidden;
        width: 100%;
    }

    &__link {
        &:hover,
        &:focus {
            .mentors__info-wrapper {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__info-icon-wrapper {
        display: block;
        height: 50px;
        margin-bottom: 9px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3px;
        width: 50px;
    }

    &__info-icon {
        display: block;
    }

    &__info-tag {
        color: var(--primary);
        font-family: var(--font-family-sans-serif-alt);
        font-size: (18/18 * 1rem);
        font-weight: 700;
        text-transform: uppercase;
    }
}
