.mobile-nav {
    -webkit-transition: all 0.3s ease-in-out;
    background: var(--primary);
    bottom: 0;
    color: $white;
    display: none;
    flex-direction: column;
    left: 0;
    // -webkit-transform: translate(0, -100%);
    opacity: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    // transform: translate(0, -100%);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    z-index: $zindex-fixed + 2;

    @include media-breakpoint-down(md) {
        display: flex;
    }

    body.admin-bar & {
        top: 32px;

        @media screen and (max-width: 782px) {
            top: 46px;
        }
    }

    &__header {
        display: flex;
        flex-grow: 0;
        justify-content: center;
        padding-bottom: (30/18 * 1rem);
        padding-top: (30/18 * 1rem);
    }

    &__logo {
        @include img-retina(
            "../images/industry-founders-logo-white-text.png",
            "../images/industry-founders-logo-white-text@2x.png",
            202px,
            46px
        );
        height: 46px;
        width: 202px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;

        ul {
            @include reset-list();
            font-family: $font-family-sans-serif-alt;
            font-size: (45/18 * 1rem);
            line-height: 1;
            margin-left: auto;
            margin-right: auto;
            max-width: (380/18 * 1rem);
            padding-left: (15/18 * 1rem);
            padding-right: (15/18 * 1rem);
            text-align: center;
            width: 100%;

            > li {
                + li {
                    margin-top: (25/18 * 1rem);

                    &.main-menu__list-item--button {
                        margin-top: (50/18 * 1rem);
                    }
                }

                > a {
                    @include no-link-underline();
                    color: $white;
                    display: inline-block;
                    text-transform: uppercase;
                }

                &.main-menu__list-item--button {
                    > a {
                        background: var(--secondary);
                        border-radius: $border-radius;
                        color: var(--primary);
                        display: block;
                        padding: (15/18 * 1rem) (15/18 * 1rem)
                            ((15 + 5)/18 * 1rem);
                    }
                }
            }
        }
    }

    &__footer {
        flex-grow: 0;
        padding-bottom: (30/18 * 1rem);
        padding-top: (35/18 * 1rem);

        ul {
            @include reset-list();
            font-family: $font-family-sans-serif-alt;
            font-size: (40/18 * 1rem);
            line-height: 1;
            text-align: center;

            > li {
                display: inline;
                margin-right: (15/18 * 1rem);

                &:last-child {
                    margin-right: 0;
                }

                > a {
                    color: $white;
                    opacity: 0.3;
                    text-transform: uppercase;
                }

                &.current-menu-item,
                &.current-page-ancestor {
                    > a {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.mobile-nav-checkbox:checked ~ .mobile-nav {
    // -webkit-transform: translate(0);
    // transform: translate(0);
    opacity: 1;
    visibility: visible;
}
