.mobile-nav-button {
    @include no-link-underline();
    cursor: pointer;
    display: none;
    height: 24px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 35px;
    width: 35px;
    z-index: ($zindex-fixed + 3);

    @include media-breakpoint-down(md) {
        display: block;
    }

    body.admin-bar & {
        top: (35px + 32px);

        @media screen and (max-width: 782px) {
            top: (35px + 46px);
        }
    }

    &__hamburger {
        -webkit-transition-delay: 0.2s;
        -webkit-transition-duration: 0s;
        background-color: var(--secondary);
        display: inline-block;
        height: 4px;
        position: relative;
        transition-delay: 0.2s;
        transition-duration: 0s;
        width: 35px;

        &:after,
        &:before {
            -webkit-transition: margin 0.2s ease 0.2s, transform 0.2s ease 0s;
            -webkit-transition: margin 0.2s ease 0.2s,
                -webkit-transform 0.2s ease 0s;
            background-color: var(--secondary);
            content: "";
            display: block;
            height: 4px;
            position: absolute;
            transition: margin 0.2s ease 0.2s, -webkit-transform 0.2s ease 0s;
            transition: margin 0.2s ease 0.2s, transform 0.2s ease 0s;
            transition: margin 0.2s ease 0.2s, transform 0.2s ease 0s,
                -webkit-transform 0.2s ease 0s;
            width: 35px;
        }

        &:before {
            margin-top: -10px;
        }

        &:after {
            margin-top: 10px;
        }
    }
}

.mobile-nav-checkbox:checked ~ .mobile-nav-button {
    position: fixed;

    .mobile-nav-button__hamburger {
        background: transparent;

        &:before,
        &:after {
            -webkit-transition: margin 0.2s ease 0s, transform 0.2s ease 0.2s;
            -webkit-transition: margin 0.2s ease 0s,
                -webkit-transform 0.2s ease 0.2s;
            margin-top: 0px;
            transition: margin 0.2s ease 0s, -webkit-transform 0.2s ease 0.2s;
            transition: margin 0.2s ease 0s, transform 0.2s ease 0.2s;
            transition: margin 0.2s ease 0s, transform 0.2s ease 0.2s,
                -webkit-transform 0.2s ease 0.2s;
        }

        &:before {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        &:after {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
}
