body.newsletter {
    margin-bottom: 0 !important;
    margin-top: 0 !important;

    .content {
        text-align: center;
    }
}

.newsletter {
    margin-bottom: (196/18 * 1rem);
    margin-top: (200/18 * 1rem);

    &__container {
        @extend .container;
    }

    &__box {
        background: var(--primary);
        border-radius: $border-radius;
        color: $white;
        overflow: hidden;
    }

    &__box-inner {
        @extend .row;
    }

    &__text-wrapper,
    &__image-wrapper {
        @extend .col-md-6;
    }

    &__text-wrapper {
        @extend .order-2;
        @extend .order-md-1;
        padding: (45/18 * 1rem) (70/18 * 1rem);

        @include media-breakpoint-down(sm) {
            padding-left: (45/18 * 1rem);
            padding-right: (45/18 * 1rem);
        }
    }

    &__text {
        @include clear-content-margins();
        margin-bottom: (23/18 * 1rem);

        h1,
        .h1,
        h2,
        .h2,
        h3,
        .h3,
        h4,
        .h4,
        h5,
        .h5,
        h6,
        .h6 {
            color: inherit;
            font-family: var(--font-family-sans-serif);
            font-size: (24/18 * 1rem);
            font-weight: 700;
            line-height: (32/24);
            margin-bottom: (9/18 * 1rem);
            text-transform: none;
        }

        p {
            margin-bottom: (22/18 * 1rem);
        }

        ul {
            @include reset-list();
            font-size: (18/18 * 1rem);
            font-weight: 700;
            line-height: (26/18);

            > li {
                margin-bottom: (20/18 * 1rem);
                padding-left: (40/18 * 1rem);
                position: relative;

                &:last-child {
                    margin-bottom: 0;
                }

                &::before {
                    @include black-tie();
                    background: transparent;
                    color: var(--secondary);
                    content: "\f012";
                    font-size: (24/18 * 1rem);
                    font-weight: 700;
                    height: auto;
                    left: 0;
                    line-height: (32/24);
                    position: absolute;
                    top: (-1/18 * 1rem);
                    width: auto;
                }
            }
        }
    }

    &__form {
    }

    &__form-group {
        @extend .form-group;
        margin-bottom: (15/18 * 1rem);

        &--text {
            font-size: (14/18 * 1rem);
            line-height: (26/14);
            margin-bottom: 0;
            margin-top: (12/18 * 1rem);
        }

        &--checkbox {
            margin-bottom: (15/18 * 1rem);
            margin-top: ((15/18 * 1rem) + (2/18 * 1rem));

            .custom-control-label {
                &::before {
                    border: 0;
                    top: (3/18 * 1rem);
                }

                &::after {
                    top: ((3/18 * 1rem) + (3/18 * 1rem));
                }
            }
        }
    }

    &__form-control {
        @extend .form-control;
        border: 0;
        font-size: (16/18 * 1rem);
        height: (45/18 * 1rem);
        padding-bottom: (13/18 * 1rem);
        padding-left: (21/18 * 1rem);
        padding-right: (21/18 * 1rem);
        padding-top: (13/18 * 1rem);
    }

    &__form-submit {
    }

    &__button {
        @extend .btn;
        @extend .btn-secondary;
        padding: (9/18 * 1rem) (18/18 * 1rem) (10/18 * 1rem);
    }

    &__form-link {
        @include no-link-underline();
        color: transparentize($white, 0.2);

        &:hover,
        &:focus {
            color: $white;
        }
    }

    &__image-wrapper {
        @extend .order-1;
        @extend .order-md-2;
        padding-left: 0;
    }

    &__image {
        display: block;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}
