.partners {
    margin-bottom: (200/18 * 1rem);
    margin-top: (156/18 * 1rem);

    &__container {
        @extend .container;
    }

    &__header {
        margin-bottom: (27/18 * 1rem);
    }

    &__heading {
        font-size: (42/18 * 1rem);
        font-weight: 700;
        line-height: (50/42);
        margin-bottom: (2/18 * 1rem);
    }

    &__subheading {
        font-family: var(--font-family-sans-serif);
        font-size: (32/18 * 1rem);
        font-weight: 400;
        line-height: (38/32);
        margin-bottom: 0;
    }

    &__text-wrapper {
        @extend .row;
        @include col-md-spacing(25);
        margin-bottom: (54/18 * 1rem);
    }

    &__text {
        @extend .col-md-6;
        @include clear-content-margins();
    }

    &__controls {
        margin: (-7.5/18 * 1rem) (-7.5/18 * 1rem) ((-7.5 + 83)/18 * 1rem);
    }

    &__controls-button {
        @extend .btn;
        @extend .btn-primary;
        margin: (7.5/18 * 1rem);
        padding-bottom: (9/18 * 1rem);
        padding-left: (20/18 * 1rem);
        padding-right: (20/18 * 1rem);
        padding-top: (9/18 * 1rem);

        &.active {
            @include button-variant(
                $secondary,
                $secondary,
                $active-background: $secondary,
                $active-border: $secondary
            );
            color: var(--primary) !important;
            transform: none !important;
        }
    }

    &__logos {
        margin-bottom: (60/18 * 1rem);
        min-height: 100px;
        // @extend .row;
        position: relative;
        transition: all 0.3s ease;
    }

    &__logo-wrapper {
        // @extend .col-3;
        align-items: center;
        display: flex;
        height: 100px;
        justify-content: center;
        left: 0;
        // margin-bottom: (60/18 * 1rem);
        position: absolute;
        top: 0;
        transition: all 0.3s ease;
        width: 25%;

        @include media-breakpoint-down(sm) {
            height: 100px;
            width: 50%;
        }

        &.hidden {
            opacity: 0;
            visibility: hidden;
        }

        &.show {
            opacity: 1;
            visibility: visible;
        }
    }

    &__logo-link {
        @include no-link-underline();
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
    }

    &__logo {
        @include img-fluid();
        max-width: 80%;
        opacity: 0.3;
        transition: all 0.3s ease-out;
    }

    &__logo-link:hover .partners__logo,
    &__logo-link:focus .partners__logo {
        opacity: 0.7;
    }

    &__cta {
        background: var(--primary);
        border-radius: $border-radius;
        color: $white;
        overflow: hidden;
    }

    &__cta-inner {
        @extend .row;
    }

    &__cta-content,
    &__cta-image-wrapper {
        @extend .col-md-6;
    }

    &__cta-content {
        @extend .order-2;
        @extend .order-md-1;
        padding: (45/18 * 1rem)
            calc(#{($grid-gutter-width / 2)} + #{(70/18 * 1rem)});

        @include media-breakpoint-down(sm) {
            padding-left: (45/18 * 1rem);
            padding-right: (45/18 * 1rem);
        }
    }

    &__cta-heading {
        color: inherit;
        font-family: var(--font-family-sans-serif);
        font-size: (24/18 * 1rem);
        font-weight: 700;
        line-height: (32/24);
        margin-bottom: (8/18 * 1rem);
    }

    &__cta-text {
        font-size: (18/18 * 1rem);
        line-height: (26/18);
        margin-bottom: (23/18 * 1rem);
    }

    &__cta-button-wrapper {
    }

    &__cta-button {
        @extend .btn;
        @extend .btn-secondary;
    }

    &__cta-image-wrapper {
        @extend .order-1;
        @extend .order-md-2;
        padding-left: 0;
    }

    &__cta-image {
        display: block;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}
