.pitches {
    margin-bottom: (141/18 * 1rem);
    margin-top: (194/18 * 1rem);

    &__container {
        @extend .container;
    }

    &__header {
        margin-bottom: (25/18 * 1rem);
        text-align: center;
    }

    &__heading {
        color: var(--primary);
        font-size: (42/18 * 1rem);
        font-weight: 700;
        line-height: (50/42);
        margin-bottom: (2/18 * 1rem);
    }

    &__subheading {
        color: var(--primary);
        font-family: var(--font-family-sans-serif);
        font-size: (32/18 * 1rem);
        font-weight: 400;
        line-height: (38/32);
        margin-bottom: 0;
    }

    &__controls {
        margin-bottom: (39/18 * 1rem);
        text-align: center;
    }

    &__controls-button {
        @extend .btn;
        @extend .btn-primary;
        margin: (7.5/18 * 1rem);
        padding-bottom: (9/18 * 1rem);
        padding-left: (20/18 * 1rem);
        padding-right: (20/18 * 1rem);
        padding-top: (9/18 * 1rem);

        &.active {
            @include button-variant(
                $secondary,
                $secondary,
                $active-background: $secondary,
                $active-border: $secondary
            );
            color: var(--primary) !important;
            transform: none !important;
        }
    }

    &__blocks {
        // display: flex;
        // flex-wrap: wrap;
        height: 500px;
        margin: ($grid-gutter-width / -2);
        position: relative;
        transition: all 0.3s ease;
    }

    &__block {
        left: 0;
        // margin-bottom: (14/18 * 1rem);
        overflow: hidden;
        padding: ($grid-gutter-width / 2);
        position: absolute;
        top: 0;
        transition: all 0.3s ease;
        width: 50%;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }

        &.hidden {
            opacity: 0;
            visibility: hidden;
        }

        &.show {
            opacity: 1;
            visibility: visible;
        }

        // &.show.hiding,
        // &.hidden:not(.showing) {
        //  opacity: 0;
        //  visibility: hidden;
        // }

        // &.hidden.showing,
        // &.show:not(.hiding) {
        //  display: block;
        //  opacity: 1;
        //  visibility: visible;
        // }

        // &.hidden:not(.showing) {
        //  display: none;
        // }

        h1,
        .h1,
        h2,
        .h2,
        h3,
        .h3,
        h4,
        .h4,
        h5,
        .h5,
        h6,
        .h6 {
            margin-bottom: (18/18 * 1rem);
            text-transform: uppercase;
        }

        h4,
        .h4 {
            font-size: (32/18 * 1rem);
            font-weight: 700;
            line-height: (38/32);
        }
    }
}
