.process-step {
    @extend .media;
    position: relative;

    &::after {
        background: var(--primary);
        bottom: 0;
        content: "";
        display: block;
        left: 31px;
        position: absolute;
        top: 65px;
        width: 3px;
    }

    &:last-child {
        &::after {
            display: none;
        }
    }

    &__number-wrapper {
        display: block;
        flex-shrink: 0;
        margin-right: $grid-gutter-width;
        width: (65/18 * 1rem);
    }

    &__number {
        background: var(--secondary);
        border-radius: 999em;
        color: var(--primary);
        display: block;
        font-family: var(--font-family-sans-serif-alt);
        font-size: 24px;
        font-weight: 700;
        height: 65px;
        line-height: 65px;
        position: relative;
        text-align: center;
        width: 65px;
        z-index: 1;
    }

    &__body {
        @extend .media-body;
    }

    &__header {
        padding-top: (15/18 * 1rem);
    }

    &__heading {
        color: var(--primary);
        font-size: (28/18 * 1rem);
        font-weight: 700;
        line-height: (34/28);
        margin-bottom: (10/18 * 1rem);
        text-transform: uppercase;
    }

    &__content {
        @extend .media;
        margin-bottom: (44/18 * 1rem);

        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
    }

    &__icon-wrapper {
        flex-shrink: 0;
        margin-right: (10/18 * 1rem);
        padding-top: (6/18 * 1rem);
        text-align: center;
        width: (95/18 * 1rem);

        @include media-breakpoint-down(md) {
            margin-bottom: (10/18 * 1rem);
            margin-right: 0;
        }
    }

    &__icon {
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: percentage(55/95);
    }

    &__text-wrapper {
        @extend .media-body;
        @include clear-content-margins();
    }
}
