
.process-carousel-footer {
	margin-bottom: (-29/18 * 1rem);
	margin-top: (50/18 * 1rem);
	
	&__container {
		@extend .container;
	}

	&__button-wrapper {
		text-align: center;
	}

	&__button {
		@extend .btn;
		@extend .btn-secondary;
		padding-bottom: (10/18 * 1rem);
		padding-left: (15/18 * 1rem);
		padding-right: (15/18 * 1rem);
		padding-top: (9/18 * 1rem);
	}
}
