.process-carousel {
    background-color: var(--primary);
    background-image: url("../images/process-carousel/background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    padding-bottom: (124/18 * 1rem);
    padding-top: (113/18 * 1rem);

    &__container {
        @extend .container;
    }

    &__header-wrapper {
        @extend .row;
        @extend .justify-content-center;
    }

    &__header {
        @extend .col-md-8;
        @include clear-content-margins();
        margin-bottom: (57/18 * 1rem);
        text-align: center;
    }

    &__heading {
        color: var(--secondary);
        font-size: (42/18 * 1rem);
        font-weight: 700;
        line-height: (50/42);
        margin-bottom: (1/18 * 1rem);
    }

    &__subheading {
        color: $white;
        font-family: var(--font-family-sans-serif);
        font-size: (32/18 * 1rem);
        font-weight: 400;
        line-height: (38/32);
        margin-bottom: (1/18 * 1rem);
    }

    &__text {
        font-size: (20/18 * 1rem);
        line-height: (26/20);
        margin-top: (26/18 * 1rem);
    }

    &__carousel {
        @include carousel-controls();

        .carousel-indicators {
            @include reset-list();
            bottom: initial;
            display: block;
            height: 94px;
            left: initial;
            margin: 0 auto 30px;
            position: static;
            position: relative;
            right: initial;
            width: 920px;

            @include media-breakpoint-down(md) {
                width: 100%;
            }

            &::after {
                background: rgb(255, 255, 255);
                background: linear-gradient(
                    90deg,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(255, 255, 255, 1) 8%,
                    rgba(255, 255, 255, 1) 92%,
                    rgba(255, 255, 255, 0) 100%
                );
                content: "";
                display: block;
                height: 4px;
                left: 50%;
                margin-left: (920px / -2);
                position: absolute;
                top: 75px;
                width: 920px;
                z-index: 20;

                @include media-breakpoint-down(md) {
                    left: 0;
                    margin-left: 0;
                    width: 100%;
                }
            }

            li {
                background: transparent;
                border-bottom: 0;
                border-top: 0;
                color: rgba(255, 255, 255, 0.2);
                display: none;
                font-family: var(--font-family-sans-serif-alt);
                font-size: (26/18 * 1rem);
                font-weight: 700;
                height: inherit;
                line-height: (31/26);
                margin-left: 0;
                margin-right: 0;
                opacity: 1;
                position: absolute;
                text-align: center;
                text-indent: 0;
                text-transform: uppercase;
                top: 0;
                white-space: nowrap;
                width: auto;
                width: 220px;

                &::after {
                    background: $white;
                    border-radius: 999em;
                    content: "";
                    display: block;
                    height: 26px;
                    left: 50%;
                    margin-left: (26px / -2);
                    position: absolute;
                    top: 64px;
                    width: 26px;
                    z-index: 30;
                }

                &.prev-active {
                    display: block;
                    left: 50px;

                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                }

                &.active {
                    color: $white;
                    display: block;
                    left: 50%;
                    margin-left: (220px / -2);

                    &::after {
                        background: var(--secondary);
                        border: 4px solid var(--primary);
                        height: (30px + 4px);
                        margin-left: ((30px + 4px) / -2);
                        top: 60px;
                        width: (30px + 4px);
                    }
                }

                &.next-active {
                    display: block;
                    right: 50px;

                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                }
            }
        }

        .carousel-caption {
            bottom: initial;
            color: var(--primary);
            font-size: (16/18 * 1rem);
            left: initial;
            line-height: (26/16);
            margin-left: auto;
            margin-right: auto;
            padding: 13px 0 0 0;
            // max-width: percentage(790/1110);
            position: static;
            right: initial;
        }

        .carousel-caption-inner {
            @include clear-content-margins();
            background: $white;
            border-radius: $border-radius;
            margin-left: ($grid-gutter-width * -1);
            margin-right: ($grid-gutter-width * -1);
            padding: (26/18 * 1rem) (30/18 * 1rem) (22/18 * 1rem);
            position: relative;
            text-align: center;

            &::after {
                border-color: transparent transparent #ffffff transparent;
                border-style: solid;
                border-width: 0 14px 13px 14px;
                content: "";
                height: 0;
                left: 50%;
                margin-left: -14px;
                position: absolute;
                top: -13px;
                width: 0;
            }

            h4,
            .h4 {
                font-family: var(--font-family-sans-serif);
                font-size: (22/18 * 1rem);
                font-weight: 700;
                line-height: (26/22);
                margin-bottom: (15/18 * 1rem);
            }
        }

        .carousel-controls-wrapper {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: (94px + 30px);

            .col-2 {
                min-height: (220/18 * 1rem);

                @include media-breakpoint-down(md) {
                    min-height: (420/18 * 1rem);
                }
            }
        }
    }
}
