.process {
    margin-bottom: (150/18 * 1rem);
    margin-top: (193/18 * 1rem);

    &__container {
        @extend .container;
    }

    &__header {
        margin-bottom: (82/18 * 1rem);
        text-align: center;
    }

    &__header-row {
        @extend .row;
        @extend .justify-content-center;
    }

    &__header-col {
        @extend .col-md-8;
    }

    &__heading {
        color: var(--primary);
        font-size: (42/18 * 1rem);
        font-weight: 700;
        line-height: (50/42);
        margin-bottom: (1/18 * 1rem);
        text-transform: uppercase;
    }

    &__subheading {
        color: var(--primary);
        font-family: var(--font-family-sans-serif);
        font-size: (32/18 * 1rem);
        font-weight: 400;
        line-height: (38/32);
        margin-bottom: 0;
    }

    &__text {
        margin-bottom: 0;
        margin-top: (25/18 * 1rem);
    }

    &__steps {
    }

    &__steps-row {
        @extend .row;
    }

    &__steps-col {
        @extend .col-md-9;
        @extend .offset-md-2;
    }
}
