.teaser {
    margin-bottom: (183/18 * 1rem);
    margin-top: (192/18 * 1rem);

    &__container {
        @extend .container;
    }

    &__row {
        @extend .row;
        @extend .justify-content-center;
    }

    &__col {
        @extend .col-md-8;
        text-align: center;
    }

    &__text-wrapper {
        @include clear-content-margins();
        color: var(--primary);
        font-size: (22/18 * 1rem);
        line-height: (34/22);
    }

    &__button-wrapper {
        margin-top: (31/18 * 1rem);
    }

    &__button {
        @extend .btn;
        @extend .btn-secondary;
        padding: ($btn-padding-y - (1/18 * 1rem))
            ($btn-padding-x - (3/18 * 1rem)) $btn-padding-y;
    }
}
