
.testimonials {
	background-color: var(--secondary);
	background-image: url("../images/testimonials/background.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: (133/18 * 1rem);
	padding-top: (70/18 * 1rem);
	
	&__container {
		@extend .container;
	}

	&__header {
		margin-bottom: (43/18 * 1rem);
		text-align: center;
	}

	&__heading {
		color: var(--primary);
		font-size: (42/18 * 1rem);
		font-weight: 700;
		line-height: (50/42);
		margin-bottom: (3/18 * 1rem);
	}

	&__subheading {
		color: var(--primary);
		font-family: var(--font-family-sans-serif);
		font-size: (32/18 * 1rem);
		font-weight: 400;
		line-height: (38/32);
		margin-bottom: 0;
	}

	&__carousel {
		@include carousel-controls-blue();

		.carousel-indicators {
		    bottom: -62px;
		    margin: 0;
		    padding: 0;
		}

		.carousel-indicators li {
			border: 0;
			border-radius: 999em;
			height: 14px;
			margin: 8px;
			opacity: 1;
			width: 14px;
		}

		.carousel-indicators .active {
			background: var(--primary);
		}

		.carousel-caption {
		    bottom: initial;
		    color: initial;
		    left: initial;
		    padding-bottom: 0;
		    padding-top: 0;
		    position: static;
		    right: initial;
		    text-align: left;
		    z-index: initial;
		}

		.carousel-controls-wrapper {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;

			.container,
			.row {
				height: 100%;
			}
		}

		.carousel-control-prev,
		.carousel-control-next {
			left: 0;
			right: 0;
		}
	}
}
