.testimonial {
    &__container {
        @extend .container;
    }

    &__row {
        @extend .row;
        @extend .justify-content-center;
    }

    &__col {
        @extend .col-10;
        align-items: center;
        display: flex;

        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
    }

    &__photo-wrapper {
        flex-shrink: 0;
        margin-right: (52/18 * 1rem);
        width: (160/18 * 1rem);

        @include media-breakpoint-down(md) {
            margin-bottom: (52/18 * 1rem);
            margin-right: 0;
        }
    }

    &__photo {
        background: $white;
        border: 6px solid $white;
        border-radius: 999em;
        display: block;
        height: (150/18 * 1rem);
        object-fit: cover;
        width: (150/18 * 1rem);
    }

    &__content {
        background: $white;
        border-radius: $border-radius;
        margin: 0;
        padding: (32/18 * 1rem) (39/18 * 1rem);
        position: relative;

        &::before {
            border-color: transparent #ffffff transparent transparent;
            border-style: solid;
            border-width: 16px 15px 16px 0;
            content: "";
            height: 0;
            left: -15px;
            margin-top: -16px;
            position: absolute;
            top: 50%;
            width: 0;

            @include media-breakpoint-down(md) {
                border-color: transparent transparent #ffffff transparent;
                border-style: solid;
                border-width: 0 16px 15px 16px;
                height: 0;
                left: 50%;
                margin-left: -16px;
                margin-top: 0;
                top: -15px;
                width: 0;
            }
        }
    }

    &__text {
        color: #424242;
        font-family: var(--font-family-serif);
        font-size: (20/18 * 1rem);
        font-style: italic;
        line-height: (24/20);
        margin-bottom: (12/18 * 1rem);
    }

    &__name {
        color: #424242;
        font-size: (16/18 * 1rem);
        font-weight: 700;
        line-height: (19/16);
    }
}
