.text {
    margin-bottom: (194/18 * 1rem);
    margin-top: (185/18 * 1rem);

    &__container {
        @extend .container;
    }

    &__header {
        @include clear-content-margins();
        margin-bottom: (27/18 * 1rem);
        text-align: center;
    }

    &__heading {
        font-size: (42/18 * 1rem);
        font-weight: 700;
        line-height: (50/42);
        margin-bottom: (2/18 * 1rem);
    }

    &__subheading {
        font-family: var(--font-family-sans-serif);
        font-size: (32/18 * 1rem);
        font-weight: 400;
        line-height: (38/32);
        margin-bottom: 0;
    }

    &__row {
        @extend .row;
        @include col-md-spacing(25);
    }

    &__col {
        @extend .col-md-6;
        @include clear-content-margins();
    }
}
