.top-menu {
    > ul {
        @include reset-list();
        text-align: right;

        > li {
            display: inline-block;
            margin-bottom: (7/18 * 1rem);
            margin-left: (12/18 * 1rem);
            margin-right: (12/18 * 1rem);
            margin-top: (7/18 * 1rem);
            vertical-align: top;

            &:last-child {
                margin-right: 0;
            }

            > a {
                color: var(--primary);
                font-family: var(--font-family-sans-serif-alt);
                font-size: (15/18 * 1rem);
                font-weight: 400;
                text-transform: uppercase;
                transition: color 0.3s ease;

                &:hover,
                &:focus {
                    color: var(--primary);
                }

                &::after {
                    background: var(--primary);
                }
            }
        }
    }
}
