@mixin boxes() {
    &__boxes {
        @extend .row;
        flex-wrap: wrap;
    }

    &__box-wrapper {
        @extend .col-md-6;
        @extend .col-lg-4;
        margin-bottom: $grid-gutter-width;
    }

    &__box {
        background: var(--primary);
        border-radius: $border-radius;
        color: $white;
        display: flex;
        overflow: hidden;

        &:before {
            content: "";
            display: block;
            padding-top: 100%; /* ratio of 1:1 */
        }
    }

    &__box-inner {
        width: 100%;
    }

    &__box-text-wrapper {
        padding: (45/18 * 1rem) (31/18 * 1rem) (24/18 * 1rem) (29/18 * 1rem);
    }

    &__box-heading {
        color: var(--secondary);
        font-size: (28/18 * 1rem);
        line-height: (34/28);
        margin-bottom: (10/18 * 1rem);
        text-transform: uppercase;
    }

    &__box-text {
        font-size: (16/18 * 1rem);
        line-height: (26/16);
        margin-bottom: 0;
    }

    &__box-image-wrapper {
        height: 100%;
        width: 100%;
    }

    &__box-image {
        display: block;
        height: inherit;
        object-fit: cover;
        width: inherit;
    }
}
