
@mixin btn-hover-state($background-color, $border-color: $background-color) {
	
	&:hover,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        background-color: $background-color;
        border-color: $border-color;
    }
}
