
@mixin carousel-controls-blue() {
	@include carousel-controls();

	.carousel-control-prev:hover .carousel-control-prev-icon,
	.carousel-control-next:hover .carousel-control-next-icon {
		color: var(--primary);
	}
}
