
@mixin carousel-controls() {

	.carousel-control-prev,
	.carousel-control-next {
		@include no-link-underline();
		opacity: 1;
		transition: all 0.3s ease;
		width: auto;
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		background: transparent;
		color: $white;
		display: block;
		flex-shrink: 0;
		height: 43px;
		transition: all 0.3s ease;
		width: 24px;

		&::after {
			@include black-tie();
			font-size: 40px;
			font-weight: 700;
		}
	}

	.carousel-control-prev-icon {
		margin-left: ($grid-gutter-width/2);

		&::after {
			content: "\f092";
		}
	}

	.carousel-control-next-icon {
		margin-right: ($grid-gutter-width/2);

		&::after {
			content: "\f093";
		}
	}

	.carousel-control-prev:hover .carousel-control-prev-icon,
	.carousel-control-next:hover .carousel-control-next-icon {
		color: var(--secondary);
	}
}
