@mixin col-md-spacing($spacing) {
    > * {
        @include media-breakpoint-down(md) {
            margin-bottom: ($spacing/18 * 1rem);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
