
@mixin cta-list-check {
    @include reset-list();
	font-size: (24/18 * 1rem);
	line-height: (29/24);

	> li {
		margin-bottom: (21/18 * 1rem);
		padding-left: (47/18 * 1rem);
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}

		&::before {
			@include black-tie();
			color: var(--secondary);
			content: "\f012";
			font-size: 30px;
			font-weight: 700;
			height: (25/18 * 1rem);
			left: 0;
			position: absolute;
			top: (-1/18 * 1rem);
			width: (32/18 * 1rem);
		}
	}
}
