
@mixin link-underline {
    position: relative;

    &::after {
        background: var(--secondary);
        bottom: (-2/18 * 1rem);
        content: "";
        height: (2/18 * 1rem);
        left: (1/18 * 1rem);
        position: absolute;
        right: 100%;
        transition: all .3s ease-out;
    }

    &:hover,
    &:focus,
    &.active {
        text-decoration: none;

        &::after {
            left: (1/18 * 1rem);
            right: (1/18 * 1rem);
        }
    }
}
