
@mixin no-link-underline {

    &::after {
        background: initial;
        bottom: initial;
        content: none;
        height: initial;
        left: initial;
        position: initial;
        right: initial;
        transition: initial;
    }

    &:hover,
    &:focus,
    &.active {
        text-decoration: initial;

        &::after {
            left: initial;
            right: initial;
        }
    }
}
