
@mixin reset-list {
    @include list-unstyled();
    margin-bottom: 0;

    li {
        margin-bottom: 0;
        padding-left: 0;
        position: initial;

        &:before {
            background: initial;
            border-radius: initial;
            color: initial;
            content: none;
            font-family: initial;
            font-size: initial;
            font-weight: initial;
            height: initial;
            left: initial;
            line-height: initial;
            position: initial;
            text-align: initial;
            top: initial;
            width: initial;
        }
    }
}
