
@mixin reset-button {
	background-color: transparent;
	border: $btn-border-width solid transparent;
	color: $body-color;
	display: inline-block;
	font-family: $btn-font-family;
	font-weight: $btn-font-weight;
	text-align: center;
	user-select: none;
	vertical-align: middle;

	&:focus,
	&.focus {
		box-shadow: $btn-focus-box-shadow;
		outline: 0;
	}
}
