
$ff-mark-pro-font-path: "../fonts" !default;

// FontFont_FF.Mark.Pro.Hairline.otf
@font-face {
    font-family: 'FF Mark Pro';
    src: url('#{$ff-mark-pro-font-path}/FontFont_FF.Mark.Pro.Hairline.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

// FontFont_FF.Mark.Pro.Thin.Italic.otf
@font-face {
    font-family: 'FF Mark Pro';
    src: url('#{$ff-mark-pro-font-path}/FontFont_FF.Mark.Pro.Thin.Italic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

// FontFont_FF.Mark.Pro.otf
@font-face {
    font-family: 'FF Mark Pro';
    src: url('#{$ff-mark-pro-font-path}/FontFont_FF.Mark.Pro.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

// FontFont_FF.Mark.Pro.Medium.otf
@font-face {
    font-family: 'FF Mark Pro';
    src: url('#{$ff-mark-pro-font-path}/FontFont_FF.Mark.Pro.Medium.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

// FontFont_FF.Mark.Pro.Medium.Italic.otf
@font-face {
    font-family: 'FF Mark Pro';
    src: url('#{$ff-mark-pro-font-path}/FontFont_FF.Mark.Pro.Medium.Italic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

// FontFont_FF.Mark.Pro.Bold.otf
@font-face {
    font-family: 'FF Mark Pro';
    src: url('#{$ff-mark-pro-font-path}/FontFont_FF.Mark.Pro.Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

// FontFont_FF.Mark.Pro.Bold.Italic.otf
@font-face {
    font-family: 'FF Mark Pro';
    src: url('#{$ff-mark-pro-font-path}/FontFont_FF.Mark.Pro.Bold.Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

// FontFont_FF.Mark.Pro.Heavy.otf
@font-face {
    font-family: 'FF Mark Pro';
    src: url('#{$ff-mark-pro-font-path}/FontFont_FF.Mark.Pro.Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

// FontFont_FF.Mark.Pro.Heavy.Italic.otf
@font-face {
    font-family: 'FF Mark Pro';
    src: url('#{$ff-mark-pro-font-path}/FontFont_FF.Mark.Pro.Heavy.Italic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

// FontFont_FF.Mark.Pro.Black.otf
@font-face {
    font-family: 'FF Mark Pro';
    src: url('#{$ff-mark-pro-font-path}/FontFont_FF.Mark.Pro.Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
