* {
    -webkit-font-smoothing: antialiased;
}

::selection {
    background: var(--secondary);
    color: var(--primary);
}

:root {
    --body-bg: #fff;
    --body-color: #000;
    --font-family-sans-serif: "Roboto", sans-serif;
    --font-family-sans-serif-alt: "Oswald", sans-serif;
    --font-family-serif: "PT Serif", serif;
}

html {
    font-size: 112.5%;

    @include media-breakpoint-down(md) {
        font-size: 100%;
    }
}

.animated {
    animation-duration: 0.3s;
}

// WordPress
#wpadminbar {
    a {
        @include no-link-underline();
    }
}
