
a {
    @include link-underline();
    transition: all 0.3s ease;

    &.btn {
        @include no-link-underline();
    }
}

h1, .h1 {
    text-align: center;
    text-transform: uppercase;
}

h2, .h2 {
    text-transform: uppercase;
}

.btn {
    box-shadow: none !important;
    padding-bottom: ($btn-padding-y + (1/18 * 1rem));
    text-transform: uppercase;
    transition: all 0.15s ease;

    &:hover,
    &:focus {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(1);
    }
}

.btn-secondary {
    color: var(--primary) !important;
}

// Hover states
.btn-primary {
    @include btn-hover-state($primary);
}

.btn-secondary {
    @include btn-hover-state($secondary);
}

.custom-checkbox {
    font-size: (14/18 * 1rem);
    line-height: (21/18 * 1rem);

    a {
        @include no-link-underline();
        color: inherit;
        font-weight: 700;
    }
}

.custom-control {
    padding-left: $custom-control-gutter + $custom-control-indicator-size + (3/18 * 1rem);
}

.custom-control-label {

    &::before {
        background: $white;
        left: -($custom-control-gutter + $custom-control-indicator-size + (3/18 * 1rem));
        top: (2/18 * 1rem);
    }

    &::after {
        height: (8/18 * 1rem);
        left: -($custom-control-gutter + $custom-control-indicator-size + (3/18 * 1rem) - (3/18 * 1rem));
        top: ((2/18 * 1rem) + (3/18 * 1rem));
        width: (8/18 * 1rem);
    }
}

.custom-control-input {
    &:checked ~ .custom-control-label::before {
        background: $white;
    }

    &:checked ~ .custom-control-label::after {
        background: $custom-control-indicator-checked-bg;
    }
}

ol,
ul,
dl {
    margin-bottom: $paragraph-margin-bottom;
}

ol,
ul {
    @include list-unstyled();

    > li {
        margin-bottom: (5/18 * 1rem);
        padding-left: (32/18 * 1rem);
        position: relative;

        &::before {
            background: var(--secondary);
            border-radius: 999em;
            content: "";
            height: (10/18 * 1rem);
            left: (2/18 * 1rem);
            position: absolute;
            top: (8/18 * 1rem);
            width: (10/18 * 1rem);
        }
    }

    &.spacing {

        > li {
            margin-bottom: (15/18 * 1rem);
            padding-left: (40/18 * 1rem);

            &::before {

            }
        }
    }

    &.lines {

        > li {
            border-bottom: 2px solid var(--primary);
            margin-bottom: (14/18 * 1rem);
            padding-bottom: (14/18 * 1rem);
            padding-left: 0;

            &:last-child {
                border-bottom: 0;
            }

            &::before {
                display: none;
            }
        }
    }

    &.arrows {

        > li {
            margin-bottom: (15/18 * 1rem);
            padding-left: (40/18 * 1rem);

            &::before {
                @include black-tie();
                background: transparent;
                color: var(--secondary);
                content: "\f09b";
                font-size: (24/18 * 1rem);
                font-weight: 700;
                height: auto;
                line-height: (28/24);
                top: (-1/18 * 1rem);
                width: auto;
            }
        }
    }
}

ol {
    counter-reset: ol-counter;

    > li {
        counter-increment: ol-counter;

        &::before {
            color: var(--primary);
            content: counter(ol-counter);
            font-family: var(--font-family-sans-serif-alt);
            font-size: (11/18 * 1rem);
            font-weight: 700;
            height: (22/18 * 1rem);
            line-height: (22/11);
            text-align: center;
            top: (0/18 * 1rem);
            width: (22/18 * 1rem);
        }
    }
}

.carousel-indicators {
    @include reset-list();
}

.clear-content-margins {
    @include clear-content-margins();
}
