
$enable-deprecation-messages: false;

$bt-font-path: "../fonts/black-tie/fonts";
$ff-mark-pro-font-path: "../fonts/FF-Mark-Pro/fonts";

$white: #fff;
$black: #000;

$blue: #130F4B;
$green: #6DFF37;

$primary: $blue;
$secondary: $green;

$body-bg: var(--body-bg);
$body-color: var(--body-color);

$link-color: var(--body-color);
$link-hover-color: var(--body-color);

$paragraph-margin-bottom: (25/18 * 1rem);

$border-radius: (5/18 * 1rem);

$component-active-bg: $secondary;

$font-family-sans-serif: var(--font-family-sans-serif);
$font-family-sans-serif-alt: var(--font-family-sans-serif-alt);
$font-family-serif: var(--font-family-serif);

$font-size-base: (18/18 * 1rem);

$line-height-base: (25/18);

$h1-font-size: (42/18 * 1rem);
$h2-font-size: (32/18 * 1rem);

$headings-margin-bottom: (28/18 * 1rem);
$headings-font-family: $font-family-sans-serif-alt;
$headings-font-weight: 700;
$headings-line-height: (50/42);
$headings-color: var(--primary);

$btn-padding-y: (10/18 * 1rem);
$btn-padding-x: (22/18 * 1rem);
$btn-font-family: $font-family-sans-serif-alt;

$input-color: $black;
$input-border-color: #797979;
$input-placeholder-color: #808080;
$form-group-margin-bottom: (20/18 * 1rem);

$input-padding-y: (16/18 * 1rem);
$input-padding-x: (18/18 * 1rem);

$custom-control-indicator-size: (14/18 * 1rem);
$custom-control-indicator-border-color: $input-border-color;
$custom-control-indicator-checked-bg: var(--secondary);
$custom-control-indicator-checked-border-color: $input-border-color;
$custom-checkbox-indicator-border-radius: 0;
$custom-checkbox-indicator-icon-checked: none;
